{% extends 'base.html.twig' %}

{% block title %}Hello SecondController!{% endblock %}


{% block body %}

{% block navigation %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href={{path('home')}}>Home</a>
        <a class="nav-item nav-link" href={{path('page2')}}>Page 2</a>
    </div>
    </div>
</nav>
{% endblock %}
<style>
    nav {margin: 10px;
        padding: 10px; /* Add padding */
        box-shadow: 2px 2px 20px gray;
        border-radius: 10px;}
</style>

<div class="container mt-4 ">
<h1>Deuxième page</h1>
</div>
{% endblock %}
