div{
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 20px;
}
.d1{
  transform-origin: 0 0;
  transform: translate(100px);
}
.d2{
  transform-origin: 50% 50%;
  transform: translate(100px);
}
.d3{
  transform-origin: 0 0;
  transform: rotate(45deg);
}
.d4{
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}
