<nav class="navbar navbar-expand-sm bg-dark">

    <div class="container-fluid  ">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="actif" routerLink="/presenation">Présenation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="actif" routerLink="/listlivre">Liste des livres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="actif" routerLink="/aboutus">A propos de Nous</a>
        </li>
      </ul>
    </div>
