<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!--
  ============================================= <br>
  Appmication 1:
  <app-interpolation></app-interpolation>
  ============================================= <br>
  Application 2:
  <app-property-binding></app-property-binding>
  ============================================= <br>
  Application 3:
  <app-event-binding></app-event-binding>
  ============================================= <br>
  Application 4:
  <app-two-way></app-two-way>


  ============================================= <br>
  EX 1:
  <app-telephone></app-telephone>

  ============================================= <br>
  EX2:
  -->
  <app-personnages></app-personnages>
  <app-personnages-formates></app-personnages-formates>
</body>
</html>