<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="Projet1"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="PROJET1"/>
    <stringAttribute key="TALEND_JOB_ID" value="_Y6ZwoKJqEe-2O5PTjrBjMA"/>
    <stringAttribute key="TALEND_JOB_NAME" value="simpleJob"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
