<h3>Modification des informations d'un pays</h3>
<form>
    <div>
        <label>Choisir un Pays : </label>
        <!-- Liste déroulante qui charge à partir du serveur-->
        <select class="form-select" >
        </select>
    </div>
    <div>
        <div>
            <label>Capitale du pays : </label>
            <input type="text" class="form-control">
        </div>
        <div>
            <label>Continent : </label>
            <!-- Liste déroulante qui se charge à partir du type énuméré Continent -->
            <select>
            </select>

        </div>
        <div>
            <label>Population du pays : </label>
            <input type="number" class="form-control" >
        </div>

        <button type="submit" >Modifier Pays</button>
        <button type="button" >Effacer</button>
    </div>
</form>



la lsite deroulante definissant les id des pays est remplie