<h3>Liste des produits informatiques</h3>
<div class="col-lg-2">
<ul class="list-group">
    
    <li *ngFor="let x of materiels" class="list-group-item" [ngClass]="x.etat=='endommagé'?' list-group-item-primary':''">

        {{x.nom|uppercase}} <br>
        <img [src]="x.image" alt="">
        Référence: {{x.reference}}
        <span [ngClass]="x.prix<200 ?' badge badge-pill badge-warning':'badge badge-pill badge-dark'">
        <i [ngClass]="x.prix>200 ?' fa-solid fa-coins':''"></i>
        Prix:{{x.prix | number:'1.3-3' }} TND</span>
        Etat: {{x.etat|titlecase}}
        <button *ngIf="x.etat=='endommagé'"
        (click)="x.etat='réparé'" class="btn btn-primary">Reparer</button>
    </li>
</ul>
</div>