/*1

div {
    border :1px solid red;
    width:100px;
    height:60px;
    margin-top:5px;
    background-color:yellow;
}

*/





/*2

div {
    border :1px solid red;
    width:100px;
    height:60px;
    margin-top:5px;
    background-color:yellow;
}
#div1 {
    position:static;
    left:200px;
    top:150px;
    background-color: red;
}
#div2 {
    position:relative;
    left:50px;
    top:50px;
    background-color: blue;
}

*/





/*4

div {
    border :1px solid red;
    width:100px;
    height:60px;
    margin-top:5px;
    background-color:yellow;
}
#div1 {
    position:relative;
    left:200px;
    top:150px;
    background-color: red;
}
#div2 {
    position:relative;
    left:50px;
    top:50px;
    background-color: blue;
}
    
*/




/*5

div {
    border :1px solid red;
    width:100px;
    height:60px;
    margin-top:5px;
    background-color:yellow;
}
#div1 {
    position:relative;
    left:200px;
    top:150px;
    background-color: red;
}
#div2 {
    position:relative;
    left:50px;
    top:50px;
    background-color: blue;
}
#div4 {
    position:absolute;
    left:50px;
    top:50px; 
    background-color:green;
}
    
*/




/*6*/

div {
    border :1px solid red;
    width:100px;
    height:60px;
}
#div1 {
    position:absolute;
    left:20px;
    top:20px;
    background-color: red;
}
#div2 {
    position:absolute;
    left:20px;
    top:20px;
    background-color: blue;
}
#div3 {
    position:absolute;
    bottom:20px;
    left:20px; 
    background-color:yellow;
}
    
#div4 {
    position:absolute;
    left:20px;
    top:20px; 
    background-color:green;
}

