<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="MOVIES"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="MOVIES"/>
    <stringAttribute key="TALEND_JOB_ID" value="_W4kPAK6PEe-lDsS6LQIekQ"/>
    <stringAttribute key="TALEND_JOB_NAME" value="Dim_Director"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
